<h2 mat-dialog-title>Hausregeln</h2>
<mat-dialog-content>
    Folgendes gilt es zu beachten:
    <br>
    <ul>
        <li>Habt eine gute Zeit zusammen!</li>
        <li>Es darf innerhalb des Gebäudes nicht geraucht werden.</li>
        <li>Toiletten sind bitte stets sauber zu halten.</li>
        <li>Bitte geht pfleglich mit Möbeliar und Ausstattung um.</li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Schließen</button>
</mat-dialog-actions>