.example-form {
    width: 100%;
    max-width: 600px;
    height: 820px;
}

.example-full-width {
    display: block;
    margin: 0 8px 0 8px;
}

.text {
    width: 85vw !important;
    max-width: 600px !important;
    margin: 0 8px 0 8px;
}

.chips-wrapper {
    overflow: hidden;
    margin: 0 8px 0 8px;
}

.chips {
    margin-right: -8px;
}

.submit-button {
    display: flex;
    justify-self: end;
    margin: 0 8px 16px 8px;
}

.myIframe {
    position: relative;
    overflow: auto;
    height: 820px;
    -webkit-overflow-scrolling: touch;
}

.myIframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 818px;
}

@media screen and (max-width: 650px) {
    .myIframe iframe {
        height: 600px !important;
    }
}