<mat-tab-group class="tabgroup" animationDuration="1000ms">
  <mat-tab [label]="tab1">
    <div style="width:90vw"></div>
    <form [formGroup]="formGroup" class="example-form center">
      <br>
      <p class="text">Schreibe uns eine Nachricht falls du dich, deine Begleitung oder deine Familie zur Hochzeit an
        oder abmelden möchtest.</p>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Vor und Nachnamen aller Personen</mat-label>
        <textarea matInput formControlName="names" minLength="3" maxlength="200" rows="5" style="resize: none"
          placeholder="Max Mustermann,&#10;Petra Mustermann,&#10;..."></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Personen Anzahl</mat-label>
        <input matInput formControlName="count" maxlength="2" min="1" max="5" type="number" placeholder="1">
      </mat-form-field>
      <div class="chips-wrapper">
        <mat-chip-listbox class="mat-mdc-chip-set-stacked chips" aria-label="Message Selection">
          @for (message of messageSelection; track message) {
          <mat-chip-option [selected]="message.selected"
            (selectionChange)="onSelectionChange($event, formGroup)">{{message.selection}}</mat-chip-option>
          }
        </mat-chip-listbox>
      </div>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Betreff</mat-label>
        <input matInput formControlName="subject" maxlength="50" placeholder="Zusage / Absage">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Deine Nachricht an uns</mat-label>
        <textarea matInput formControlName="message" minlength="10" maxlength="500" rows="6" style="resize: none"
          placeholder="Sehr gerne sage ich zur Hochzeit zu!&#10;Ich muss leider zur Hochzeit absagen, weil...&#10;&#10;Liebe Grüße,&#10;Max Mustermann"></textarea>
      </mat-form-field>
      <button mat-fab extended class="submit-button" [disabled]="!isFormGroupValid(formGroup.status)"
        (click)="sendEmail(formGroup)">
        <mat-icon>favorite</mat-icon>
        Abschicken
      </button>
    </form>
  </mat-tab>
  <mat-tab [label]="tab2">
    <div style="width: 90vw;"></div>
    <div class="myIframe">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.7456316114503!2d13.446413877578362!3d52.50184393757253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84fd6f3d83d95%3A0x5d831aff6784e275!2sSpreespeicher%20Eventlocation!5e0!3m2!1sde!2sde!4v1740171558835!5m2!1sde!2sde"
        width="100%" height="818px" allowfullscreen="" loading="lazy" frameBorder="0"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </mat-tab>
  <mat-tab [label]="tab3">
    <div style="width: 90vw; height: 820px">
      <div class="text center">
        <br>
        <h1>Spreespeicher Eventlocation</h1>
        <br>
        <p><strong>Parkplätze in der Nähe</strong></p>
        <ul>
          <li><span>Parkhaus direkt bei der Eventlocation <a href="https://maps.app.goo.gl/BKLRmyHD1ZpthsFo6">nHow
                Parking</a>.</span></li>
          <li><span>Öffentliche Parkplätze gegenüber der Eventlocation <a
                href="https://maps.app.goo.gl/FfA68qVud9zjRY7N6">Ehrenbergstraße</a>.</span></li>
        </ul>
        <br>
        <p><strong>Parkplätze in der Umgebung</strong></p>
        <ul>
          <li>
            <span>Parkhaus direkt bei der Uber Arena <a href="https://maps.app.goo.gl/ZTDfvEZvBJA5wUMj8">Parkhaus East
                SideMall</a>.</span>
          </li>
        </ul>
      </div>
      <div class="text center">
        <br>
        <h1>Standesamt Berlin Tempelhof/Schöneberg</h1>
        <br>
        <p><strong>Parkplätze in der Nähe</strong></p>
        <ul>
          <li>
            <span>Öffentliche Parkplätze am Rauthaus <a href="https://maps.app.goo.gl/J3TiMyK7LECRgpjD6">Rathaus
                Parkplatz</a>.</span>
          </li>
        </ul>
        <br>
        <p><strong>Parkplätze in der Umgebung</strong></p>
        <ul>
          <li>
            <span>In unmittelbarer Umgebung gibt es überall öffentliche Parkplätze.</span>
          </li>
        </ul>
      </div>
      <div class="text center">
        <br>
        <span style="font-size: 0.8rem;">*Parkplätze können kostenpflichtig sein.</span>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>