<h2 mat-dialog-title>Dresscode</h2>
<mat-dialog-content>
    <p>Macht euch schick, sowie ihr Lust und Laune habt.</p>
    <br>
    <h1>No-Gos</h1>
    <ul>
        <!--li>
            <p><b>Tragt kein rotes Kleid</b></p>
        </li>
        <ul>
            <li>
                <p>Bei einer traditionellen chinesischen Hochzeit ist ein rotes Hochzeitskleid der Braut vorenthalten.
                    Es symbolisiert Glück und gute Wünsche für die Ehe.</p>
            </li>
        </ul-->
        <li>
            <p><b>Tragt kein weißes Kleid</b></p>
        </li>
        <ul>
            <li>
                <p>Ein weißes Kleid ist der Braut vorenthalten.</p>
            </li>
        </ul>
        <br>
        <li><b>weitere No-Gos:</b></li>
        <ul>
            <li>
                <p>Jogginghose</p>
            </li>
            <li>
                <p>Flip-Flops</p>
            </li>
        </ul>
    </ul>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Schließen</button>
</mat-dialog-actions>