main {
    padding-top: 1rem;
}

.main-container {
    padding-top: 64px;
    padding-bottom: 64px;
}

.time-background {
    background-image: url("../../../../public/images/carmen-alarcon-7yQ1yYsH2w0-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 164px;
    padding-bottom: 164px;
}