// Add background for different screen sizes

main {
    padding: 1rem;
    // background-image: url("../../../../public/hochzeit-main-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-container {
    padding-top: 64px;
    padding-bottom: 64px;
}