<main>
  <div class="bg-fade-wrapper">
    <div class="title-wrapper">
      <div class="logo-background background"></div>
    </div>
    <div class="titlebar-background background"></div>
    <div class="bg-fade background welcome-1-background"></div>
    <div class="bg-fade background welcome-3-background"></div>
    <div class="bg-fade background welcome-2-background"></div>
  </div>
  <div class="background time-background">
    <div class="center main-container" style="padding-top: calc(50vh - 121px)">
      <app-countdown [title]="countdownTitle" [date]="date"></app-countdown>
    </div>
  </div>
  <div class="background infotab-background">
    <div class="center main-container">
      <app-info-tab></app-info-tab>
    </div>
  </div>
  <div class="center main-container">
    <br>
    <br>
    <h1 class="center">Programm</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--h1 class="center">Standesamt</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="center">Tee Zeremonie</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="center">Ankunft Eventlocation</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="center">Party!</h1>
    <br>
    <br>
    <br>
    <br>
    <br-->
  </div>
  <div class="center main-container">
    <!--div class="welcome center">
      <app-primeng-galleria></app-primeng-galleria>
    </div-->
  </div>
</main>

<app-footer></app-footer>