.countdown {
    background-color: rgb(255, 233, 247, 0.8);
    backdrop-filter: blur(2px);
    padding: 16px;
    border-radius: 16px;
}

.countwrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
}

.countbox {
    display: block;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100px;
    margin: 8px;
    border-radius: 16px;
}

.count {
    text-align: center;
    vertical-align: middle;
    border-radius: 16px;
    height: 66px;
    margin: 4px 8px 4px 8px;
    padding: 0 8px 8px 8px;
}

.seperator {
    padding-top: 56px;
}

h1.number {
    font-size: 6rem;
}

h1.label {
    font-size: 1.8rem;
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
    .countbox {
        width: 60px;
        margin: 8px;
    }

    .seperator {
        padding-top: 56px;
    }

    h1.number {
        font-size: 3rem;
        padding-top: 20px;
    }

    h1.label {
        font-size: 1.4rem;
        padding-top: 24px;
    }
}