<div class="countdown">
    <h1>{{title}}</h1>
    <div class="countwrapper">
        <div class="countbox">
            <h1 class="count number">{{countdown.days}}</h1>
            <h1 class="count label">Tage</h1>
        </div>
        <h1 class="seperator">:</h1>
        <div class="countbox">
            <h1 class="count number">{{countdown.hours}}</h1>
            <h1 class="count label">Std.</h1>
        </div>
        <h1 class="seperator">:</h1>
        <div class="countbox">
            <h1 class="count number">{{countdown.minutes}}</h1>
            <h1 class="count label">Min.</h1>
        </div>
        <h1 class="seperator">:</h1>
        <div class="countbox">
            <h1 class="count number">{{countdown.seconds}}</h1>
            <h1 class="count label">Sek.</h1>
        </div>
    </div>
</div>